* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

#nav {
    background-color: black;
}

.name {
    color: white;
    text-decoration: none;
}

.description {
    background-color: antiquewhite;
    height: 830px;
}

.akan {
    margin-top: 100px;
    color: green;
}

.akanimage {
    height: 400px;
    margin-top: 100px;
}

.container h2 {
    font-size: 40px;
}

.finish {
    display: flex;
    justify-content: space-between;
    background-color: black;
    /* border: 1px solid red; */
    height: 80px;
}

#text {
    border-right: 2px solid gold;
    color: gold;
}

.slim {
    color: gold;
}

#copyrights {
    color: gold;
}

#top {
    color: gold;
}