* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name {
    color: white;
    text-decoration: none;
}

.description {
    background-color: antiquewhite;
}

.akan {
    margin-top: 50px;
    color: green;
}